################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Sketch360MSFT/v16/.suo
/.vs/ProjectSettings.json
